#footerContent {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: auto;
    font-family: "Trebuchet MS", Sans-serif;

    font-family: helvetica;
}

#liElt2 {
    margin-left: 20.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#infoSite,
#liElt1 {
    display: flex;
    justify-content: center;
}

#infoSite {
    padding: 1em;
}

.aElt {
    color: white;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {

    .footerContent,
    #liElt1,
    #liElt2,
    #infoSite {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

}

@media screen and (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    .footerContent,
    #liElt1,
    #liElt2,
    #infoSite {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }

    .ulElt {
        padding: 0em;
        margin: 0.25em 0.25em 0.25em 0.25em;
        text-align: center;
    }
}
