html,
body {
    width: 100%;
    margin: 0;
    background-color: #efefef;
}

#contentDeleteData {
    width: 70%;
    padding-top: 10em;
    margin: auto;
}

#titleDeleteData,
#texteDeleteData {
    font-family: alice;
}

#titleDeleteData {
    font-size: 2em;
}

#texteDeleteData {
    font-size: 1.3em;
}

/* mobile */
@media screen and (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #contentDeleteData {
        width: 90%;
        padding: 11em 0.5em 1em 0.5em;
        margin: 0.5em;
    }
}

/* tablettes */
@media (orientation: portrait) and (min-width: 700px) and (max-width: 1024px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #contentDeleteData {
        width: 80%;
        padding: 11em 0.5em 1em 0.5em;
        margin: 0.5em;
    }
}
