html,
body {
    width: 100%;
    margin: 0;
    background-color: #efefef;
}

.separator {
    width: 100%;
    height: 0.15em;
    margin-top: 0;
    background-color: black;
}

/* propriétés communes */
footer,
#footerContent,
#footerContact,
#contentContact,
#content1,
#infosContact {
    display: flex;
}

    {
    justify-content: center;
}

#footerContact,
footer,
#contentContact,
#infosContact {
    flex-direction: column;
}

#content1 {
    flex-direction: row;
}

span,
label {
    font-family: alice;
    width: 100%;
}

footer {
    font-family: "Trebuchet MS", Sans-serif;
}

    {
    text-align: center;
}

/*contenu de la page*/
#titreContact {
    font-size: 1.3em;
    text-align: center;
}

#contentContact {
    width: 80%;
    padding-top: 10em;
    margin: auto;
}

strong {
    font-weight: bold;
}

#infosContact {
    margin: auto;
    padding-bottom: 1em;
}

label,
input {
    margin: 0.5em;
}

#content1 {
    width: 100%;
}

form {
    margin-left: 1em;
    width: 40%;
}

#wireframeGoogle {
    width: 100%;
    margin-bottom: 1em;
}

iframe {
    width: 100%;
}

/* mobile */
@media screen and (max-width: 700px) {
    #titlePage, #wireframeGoogle {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    .button {
        font-size: 1.5em;
        width: 100%;
        justify-content: center;
    }

    footer,
    #footerContent,
    #footerContact {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
}

@media and (min-width: 700px) and (max-width: 1024px) {
    #titlePage, #wireframeGoogle {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    .button {
        font-size: 1.5em;
        width: 100%;
        justify-content: center;
    }

    footer,
    #footerContent,
    #footerContact {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
}
