#contentConfidentialite {
    width: 50%;
    margin: auto;
    padding-top: 10em;
    padding-bottom: 2em;
    background-color: beige;
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    font-size: 1.5em;
    font-family: helvetica;
}

p {
    font-size: 1em;
    font-family: helvetica;
}

@media (max-width: 1024px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #contentConfidentialite {
        width: 95%;
        padding-top: 12em;
    }
}

@media (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

}
