html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #efefef;
}

body {
    position: relative;
}

.separator {
    width: 100%;
    height: 0.15em;
    margin-top: 0;
    background-color: black;
}

/* propriétés communes */
#contentChoixFilm,
footer,
#footerContent,
#footerContact,
p,
form,
#inputElt {
    display: flex;
}

#contentChoixFilm {
    margin-left: 15em;
    margin-right: 15em;
    padding-top: 5em;
}

    {
    justify-content: center;
}

#footerContact,
footer,
#contentChoixFilm,
form,
#inputElt {
    flex-direction: column;
}

    {
    flex-direction: row;
}

span,
label {
    font-family: alice;
    width: 100%;
}

footer,
p {
    font-family: "Trebuchet MS", Sans-serif;
}

p {
    text-align: center;
}

/*contenu de la page*/

p {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 5em;
    width: 80%;
    margin: auto;
}

#checkBoxes,
form {
    padding: 1em;
}

#checkBoxes {
    width: 70%;
}

#inputName,
#inputMail {
    width: 15%;
}

#inputElt {
    margin-left: 2em;
}


/* mobile */
@media screen and (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #contentChoixFilm {
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 3em;
    }


    footer,
    #footerContent,
    #footerContact {
        position display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

}

@media (min-width: 700px) and (max-width: 1024px) {
    #titlePage {
        display: none;
    }

    #contentChoixFilm {
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 3em;
    }


    footer,
    #footerContent,
    #footerContact {
        position display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
}
