html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #efefef;
}

/* propriétés communes */
#blocImage,
#contentHome,
.blocContent,
.blocContent1 {
    display: flex;
}

#blocImage {
    justify-content: center;
}

#blocImage,
#contentHome {
    flex-direction: column;
}

.blocContent,
.blocContent1 {
    flex-direction: row;
}

#sousTitreAccueil,
#titreAccueil,
h3,
h4,
.textContent {
    font-family: alice;
}

#sousTitreAccueil,
#titreAccueil,
#infoSite {
    text-align: center;
}

/* photo page d'accueil + titres */
#blocImage {
    /* bloc de l'image de la page d'accueil*/
    height: 100%;
    align-items: center;
}

#imgAccueil {
    position: absolute;
    width: 100%;
}

#titreAccueil {
    font-size: 3em;
}

#sousTitreAccueil {
    font-size: 2em;
}

#sousTitreAccueil,
#titreAccueil {
    color: white;
    font-weight: 550;
    text-shadow: black 1px 0 15px;
    z-index: 1;
}

/* contenu page d'accueil */
#contentHome {
    width: 70%;
    margin: auto;
    margin-top: 5em;
    align-items: center;
}

.imgContent {
    width: 100%;
}

.blocContent,
.blocContent1 {
    margin-bottom: 20px;
    background-color: rgba(211, 224, 247, 0.35);
}

.blocText1 {
    margin-right: 20px;
}

.blocText2 {
    margin-left: 20px;
}

h3 {
    font-size: 1.7em;
}

.textContent {
    text-align: justify;
    font-size: 1.2em;
}

#infoSite {
    width: 100%;
}

@media screen and (max-width: 700px) {

    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #titreAccueil {
        font-size: 1.5em;
    }

    #sousTitreAccueil {
        font-size: 1em;
    }

    #blocImage {
        padding-top: 4em;
    }

    h3 {
        padding-left: 1em;
        padding-right: 1em;
    }

    #navbar {
        position: absolute;
        flex-direction: column;
        align-items: center;
    }

    #contentHome {
        width: 100%;
    }

    .textContent {
        padding: 0.5em;
        margin: 0;
    }

    .button {
        font-size: 1.5em;
        justify-content: center;
        padding: 0.4em;
    }

    #imgAccueil {
        object-fit: cover;
        height: 80vh;
    }

    .blocContent {
        flex-direction: column;
    }

    .blocContent1 {
        flex-direction: column-reverse;
    }

    .textContent {
        padding-bottom: 1em;
    }

    .blocText1,
    .blocText2 {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    #titlePage {
        display: none;
    }

    #blocImage {
        padding-top: 6em;
    }

    #navbar {
        background-color: black;
    }
        #titreAccueil {
        font-size: 2em;
    }

    #sousTitreAccueil {
        font-size: 1.5em;
    }
    h3 {
        padding-left: 1em;
        padding-right: 1em;
    }

    #navbar {
        position: absolute;
        flex-direction: column;
        align-items: center;
    }

    #contentHome {
        width: 100%;
        margin-top: 0em;

    }

    .textContent {
        padding: 0.5em;
        margin: 0;
    }

    .button {
        font-size: 1.5em;
        justify-content: center;
        padding: 0.4em;
    }

    #imgAccueil {
        object-fit: cover;
        height: 80vh;
    }

    .blocContent {
        flex-direction: column;
    }

    .blocContent1 {
        flex-direction: column-reverse;
    }

    .textContent {
        padding-bottom: 1em;
    }

    .blocText1,
    .blocText2 {
        margin: 0;
    }
}
