#contentCookies {
    width: 50%;
    margin: auto;
    padding-top: 10em;
    padding-bottom: 2em;
    background-color: beige;
    padding-left: 1em;
    padding-right: 1em;
}

.cookiesPolicyTitle {
    font-size: 1.5em;
    font-family: helvetica;
}

.cookiesPolicyText {
    font-size: 1em;
    font-family: helvetica;
}

.urlSite {
    word-wrap: break-word;
}

td,
tr {
    border: 2px solid black;
}

@media (max-width: 1024px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #contentCookies {
        width: 90%;
        padding-top: 12em;
    }

    td {
        display: flex;
    }
}

@media (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #bodyElt,
    html {
        width: 100%;
        padding: auto;
        margin: auto;
    }

    #contentCookies {
        width: 100%;
        padding-top: 12em;
        padding-left: 0em;
        padding-right: 0em;
    }
}
