#contentMentionsLegales {
    width: 50%;
    margin: auto;
    padding-top: 10 em;
    padding-bottom: 2em;
    background-color: lightgrey;
    padding-left: 1em;
    padding-right: 1em;
}

.titleMentions {
    font-size: 1.5em;
    font-family: helvetica;
}

.mentionsTexte {
    font-size: 1em;
    font-family: helvetica;
}

.urlSite {
    word-wrap: break-word;
}


@media (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #bodyElt,
    html {
        width: 100%;
        padding: auto;
        margin: auto;
    }

    #contentMentionsLegales {
        width: 100%;
        padding-top: 12em;
        padding-left: 0em;
        padding-right: 0em;
    }
}
