html,
body {
    width: 100%;
    margin: 0;
    background-color: #efefef;
}

.separator {
    width: 100%;
    height: 0.15em;
    margin-top: 0;
    background-color: black;
}

/* propriétés communes */
#contentHomeProg,
footer,
#footerContent,
#footerContact,
#bloc1,
#jeudi,
#vendredi,
#samedi,
#dimanche,
.ligneSam,
film1,
film2,
#bloc1 {
    display: flex;
}

#footerContent,
footer,
.imgFilmBox {
    justify-content: center;
}

#contentHomeProg,
#footerContact,
footer,
#samedi,
film1,
film2,
#bloc1 {
    flex-direction: column;
}

.blocContent,
.blocContent1,
#jeudi,
#vendredi,
#dimanche,
.ligneSam {
    flex-direction: row;
}

h3,
h4,
.textFilm {
    font-family: alice;
    width: 100%;
}

footer {
    font-family: "Trebuchet MS", Sans-serif;
}

#sousTitreAccueil,
#titreAccueil,
#infoSite,
h4,
h5 {
    text-align: center;
}

/* page programme */
#titreProg {
    font-size: 2em;
    text-align: center;
}

.textProg {
    font-size: 1.5em;
}

.titreFilmProg {
    font-size: 1.2em;
}

#lienChoix {
    text-decoration: underline;
}

#contentHomeProg {
    width: 70%;
    margin: auto;
    margin-top: 3em;
    align-items: center;
}

#bloc1 {
    align-items: center;
    margin: auto;
    padding: 5em 1em 1em 1em;
    width: 70%;
    padding-top: 10em;
}

h4 {
    margin: 1em;
    margin-bottom: 0;
    font-size: 1.5em;
}

.film1,
.film2 {
    width: 100%;
    height: 100%;
}

.film1sam,
.film2sam {
    width: 100%;
    height: 100%;
}

.film1sam,
.film2,
#bloc1 {
    background-color: rgba(211, 224, 247, 0.35);
}

#jeudi,
#vendredi,
#samedi,
#dimanche,
h4 {
    background-color: rgba(211, 224, 247, 0.35);
}

.textFilm {
    font-size: 1.1em;
    width: 90%;
    margin: auto;
    padding: 0.5em;
}

#jeudi,
#vendredi,
#samedi,
#dimanche {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* images */
.imgProg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imgProgSam {
    height: 30vh;
}

.imgFilmBox {
    height: 35vh;
}

.blocFilm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.separator1 {
    display: none;
}

/* mobile */
@media screen and (max-width: 700px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #bloc1 {
        width: 85%;
        padding-top: 5em;
        font-size: 1.3em;
    }

    h3 {
        text-align: center;
        font-size: 1.3em;
    }

    #contentHomeProg {
        width: 100%;
    }

    #jeudi,
    #vendredi,
    #dimanche,
    .ligneSam {
        flex-direction: column;
    }
    .textProg {
        font-size: 1em;
    }
    .film1,
    .film2sam {
        display: flex;
        flex-direction: column-reverse;
    }

    .textFilm {
        font-size: 1em;
    }

    .titreFilmProg {
        font-size: 1.6em;
    }

    .separator {
        width: 90%;
    }

    .separator1 {
        display: block;
        width: 90%;
        margin: auto;
        height: 0.15em;
        margin-top: 1em;
        background-color: black;
    }
}

@media (orientation: portrait) and (min-width: 700px) and (max-width: 1024px) {
    #titlePage {
        display: none;
    }

    #navbar {
        background-color: black;
    }

    #bloc1 {
        width: 100%;
        padding-top: 7em;
        font-size: 1.5em;
    }

    h3 {
        text-align: center;
        font-size: 1.3em;
    }

    #contentHomeProg {
        width: 100%;
    }

    #jeudi,
    #vendredi,
    #dimanche,
    .ligneSam {
        flex-direction: column;
    }

    .film1,
    .film2sam {
        display: flex;
        flex-direction: column-reverse;
    }

    .textFilm {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.6em;
    }

    .separator {
        width: 90%;
    }

    .separator1 {
        display: block;
        width: 90%;
        margin: auto;
        height: 0.15em;
        margin-top: 1em;
        background-color: black;
    }
}
