html, body {
    width: 100%;
    margin: 0;
    background-color: #efefef;
}
.separator {
    width: 100%;
    height: 0.15em;
    margin-top: 0;
    background-color: black;
}
/* propriétés communes */
#contentHomeProg, footer, #footerContent, #footerContact, #bloc1, #jeudi, #vendredi, #samedi, #dimanche, .ligneSam, film1, film2, #bloc1 {
    display: flex;
}
#footerContent, footer, .imgFilmBox {
    justify-content: center;
}
#contentHomeProg, #footerContact, footer, #samedi, film1, film2, #bloc1 {
    flex-direction: column;
}
.blocContent, .blocContent1, #jeudi, #vendredi, #dimanche, .ligneSam  {
    flex-direction: row;
}

h2, p, h3, h4 {
    font-family: alice;
    width: 100%;
}
footer {
    font-family: "Trebuchet MS", Sans-serif;
}

/* contenu blog */

#blogContent {
    padding-top: 10em;
    width: 65%;
    margin: auto;
}
h2 {
    text-align: center;
    font-size: 2.5em;
    text-decoration: underline;
}
#headBlogText {
    font-size: 1.2em;
    font-weight: bold;
}
#billets {
    margin-top: 3em;
}
h3 {
    font-size: 1.6em;
    margin-bottom: 0em;
}
h4 {
    font-size: 1em;
    margin-top: 0em
}
#blogText {
    font-size: 1em;
}
#imgBlogBox {
    height: 30vh;
    width: 10em;
    padding: 1em;
}
#imgBlog {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 700px) {
    #blogContent {
        padding-top: 10em;
        width: 95%;
    }
    h2, h3 {
        font-size: 2.5em;
        text-align: center;
    }
    #headBlogText, #blogText {
        font-size: 1.4em;
    }
    #imgBlogBox {
        margin: auto;
    }
}

@media (orientation: portrait) and (min-width: 700px) and (max-width: 1024px) {
        #blogContent {
        padding-top: 10em;
        width: 95%;
    }
    h2, h3 {
        font-size: 2.5em;
        text-align: center;
    }
    #headBlogText, #blogText {
        font-size: 1.4em;
    }
    #imgBlogBox {
        margin: auto;
    }
}