header {
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#titlePage {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 1em;
    padding-left: 14em;
    padding-bottom: 1em;
    font-size: 1.4em;
    font-family: "Trebuchet MS", Sans-serif;
}

#navbar,
.button {
    z-index: 2;
}

.button {
    display: flex;
    font-size: 1em;
    color: white;
    background-color: black;
    padding: 1.5em 4.2em;
    border: none;
    font-family: "Trebuchet MS", Sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.button:hover {
    background-color: #606060;
}

@media screen and (max-width: 700px) {
    header {
        position: relative;
    }

    #navbar {
        flex-direction: column;
        align-items: center;    
    }

    .button {
        font-size: 1.5em;
        justify-content: center;
        padding: 0.4em;
    }
}

@media (orientation: portrait) and (min-width: 700px) and (max-width: 1024px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    header {
        position: relative;
    }

    .button {
        font-size: 1.5em;
        justify-content: center;
        padding: 0.4em;
    }
}
